@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #181a1b;
    color: #e8e6e3;
    font-family: sans-serif;
}

html, body {
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

h1, h2 {
    font-family: serif;
    font-weight: 500;
}

.resume * {
    margin: 0.3em 0;
}